# Playwright
# Dependencies
node_modules/

# Playwright artifacts
test-results/
test-results-report/
playwright-report/
blob-report/
screenshots/

# Playwright internal
/playwright/.cache/
/playwright/.auth/

# Build outputs
dist/
build/
coverage/
videos/

# Misc
.history/
.DS_Store
auth/
report.json
report.xml